*, ::after, ::before {
    box-sizing: border-box;
}

.navbar-btn{
    border: solid 2px rgb(240, 97, 15);
}

.navbar-btn:hover{
    background: rgb(240, 97, 15);
    color: white;
}

/* a{
    transition: all 0.3s ease-out 0s;
    background-color: transparent;
} */

/* .fa-telegram:before {
    content: "\f1d8";
    
} */
/* 
.atag:hover {
    background: rgb(255, 255, 255);;
    
} */

footer{
    background: url(./img/gallery/section_bg02.png) no-repeat center /cover;
}

.footer-div{
    
    height: 100%;
}

ul{
    list-style: none;
}

.footer-ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.footer-img{
    position: relative;
    top: 120px;
}

.navbar-toggler{
    background: rgba(0, 0, 0, 0.363);
}

.menu:hover
{
    background: orangered;
}
.shad
{
    box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.15) !important
}
.shad:hover
{
    transform: scale(1.01);
    cursor: pointer;
}

.shad2
{
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.658) !important
}

.shad2:hover
{
    transform: scale(1.05);
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.658) !important;
    cursor: pointer;
}

.navbar-btn{
    border: solid 2px rgb(240, 97, 15);
}

.navbar-btn:hover{
    background: rgb(240, 97, 15);
    color: white;
}


/* Blog */
.tag-clouds button{
    border: solid 2px rgb(228, 220, 220);
    margin-right: 5px;
    margin-bottom: 5px;
}

.footer-ul{
    list-style: none;
    max-width: 400px;
}

.footer-ul img{
    width: 100%;
    height: auto;   
    max-width: 100px;
    min-width: 50px;
}

.menu:hover
{
    background: orangered;
}
.shad
{
    box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.15) !important
}
.shad:hover
{
    transform: scale(1.01);
    cursor: pointer;
}
.navbar-btn{
    border: solid 2px rgb(240, 97, 15);
}

.navbar-btn:hover{
    background: rgb(240, 97, 15);
    color: white;
}